@media (max-width: 1279px)
	.container
		max-width: 708px
	.promo
		padding-top: 30px
		min-height: 1165px
		&__wrapper
			grid-template-columns: 569px
			grid-template-rows: 330px 595px
			justify-content: center
			row-gap: 90px
			margin-top: 60px
		&__content
			margin: 0 auto
			margin-top: 0
		&__img
			width: 100%
			margin-left: 70px
	.btn
		&__first
			display: block
			margin: 0 auto
			margin-top: 42px
	.about
		padding-top: 80px
		&__wrapper
			grid-template-columns: 430px
			grid-template-rows: 380px 408px
			padding: 0 139px
			row-gap: 80px
		&__photo
			grid-row: 2 / 3
			width: 70%
			display: block
			margin: 0 auto 
		&__content
			grid-row: 1 / 2 
			margin: 0
	.pets
		padding-top: 80px
		&__slider
			display: grid
			grid-template-columns: repeat(2, 270px)
			column-gap: 40px
		&__card
			&_none768
				display: none
			&:last-child
				display: none
		&__modal
			width: 630px
			height: 350px
			&_content
				padding: 10px 10px 37px 10px
			&_photo
				width: 350px
				height: 350px
		&__descr
			font-size: 13px
			margin-top: 20px
		&__name
			margin-top: 10px
		&__list
			margin-top: 20px

	.help
		&__list
			display: grid
			grid-template-columns: repeat(3, 170px)
			grid-template-rows: repeat(3, 113px)
			gap: 55px 60px
	.donation
		&__wrapper
			grid-template-columns: 505px
			grid-template-rows: 282px 261px
			row-gap: 60px
			padding: 0 101px
		&__photo
			grid-row: 2 / 3
			margin: 0
		&__content
			grid-row: 1 / 2 
			padding: 0 62px
		&__subtitle
			margin-top: 18px
	.footer
		padding-top: 10px
		&__wrapper
			grid-template-columns: repeat(2, 302px)
			grid-template-rows: 234px 310px
			gap: 85px 38px 
			padding: 0 34px
		&__dog
			grid-column: 1 / 3
			margin: 0 auto

@media (max-width: 767px)
	.container
		max-width: 300px
	.header
		&__menu
			position: relative
			background-color: #292929
			height: 823px
			display: flex
			flex-direction: column
			text-align: center
			padding: 257px 38px
			transition: all 0.6s
			z-index: 10
			&_item
				width: 243px
				font-size: 32px
	.menu
		position: fixed
		top: 0
		right: 0
		height: 100vh
		width: 0
		z-index: 100
		visibility: hidden
		opacity: 0
		transition: all 0.6s
		&.active
			width: 320px
			visibility: visible
			opacity: 1
			transition: all 0.6s
		&__overlay
			position: fixed
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(41, 41, 41, 0.6)
	.hamburger 
		display: flex
		z-index: 111
		transition: all 0.6s
		&.active
			transform: rotate(90deg)
	.promo
		min-height: 823px
		&__wrapper
			grid-template-columns: 300px
			grid-template-rows: 296px 271px
			row-gap: 105px
		&__title
			font-size: 25px
			text-align: center
			letter-spacing: 0.06em
		&__descr
			font-size: 15px
			text-align: center
		&__img
			width: 87%
			margin-left: 38px
	.title
		font-size: 25px
		text-align: center
		&_light
			margin-top: 0
			padding: 0 15px
	.about
		padding-top: 40px
		padding-bottom: 40px
		&__wrapper
			grid-template-columns: 270px
			grid-template-rows: 495px 355px
			padding: 0 15px
			row-gap: 43px
		&__descr
			font-size: 15px	
			text-align: justify
		&__photo
			width: 95%
	.pets
		padding-top: 43px
		padding-bottom: 40px
		min-height: 790px
		&__slider
			grid-template-columns: 270px
			margin-top: 40px
		&__card
			&_none320
				display: none
			&:first-child
				display: none
		&__name
			margin: 0 auto
			margin-top: 10px
		&__breed
			margin: 0 auto
			margin-top: 13px
		&__modal
			width: 240px
			height: 340px
			&_photo
				display: none
	.btn
		&_prev, &_next
			bottom: -73px
			top: auto
		&_prev
			left: 57px
		&_next
			right: 57px
		&_pets
			margin-top: 45px
	.help
		padding-top: 42px
		padding-bottom: 42px
		&__list
			margin-top: 42px
			grid-template-columns: repeat(2, 130px)
			grid-template-rows: repeat(4, 87px)
			grid-auto-rows: 87px
			gap: 30px
			&_item
				img
					width: 39%
			&_text
				font-size: 15px
				margin-top: 20px
	.donation
		padding: 42px 0
		&__wrapper
			grid-template-columns: 300px
			grid-template-rows: 281px 135px
			row-gap: 42px
			padding: 0
		&__content
			padding: 0
		&__subtitle
			letter-spacing: 0
			text-align: center
			margin-top: 23px
		&__creditcard
			width: 94%
			margin: 0 auto
			margin-top: 23px
		&__number
			font-size: 15px
		&__descr
			padding: 0 10px
			margin: 0 auto
			margin-top: 20px
			text-align: justify
		&__photo
			padding: 0 20px
			img
				width: 100%
				height: 100%
	.footer
		padding-top: 30px
		&__wrapper
			grid-template-columns: 300px
			grid-template-rows: 219px 222px 280px
			row-gap: 30px
			padding: 0
		&__dog
			grid-row: 3 / 4
			grid-column: 1 / 2
			img
				height: 100%
				width: 100%
				padding-top: 10px
		&__contacts
			display: flex
			flex-direction: column
			align-items: center
		&__link 
			align-items: center
		&__marker
			margin-top: 41px